<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.everis.pyexamencomentario">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.write_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".EverisApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.register.RegisterActivity"/>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.comentarios.ComentariosActivity"/>
        <activity android:name=".ui.comentarios.ComentariosBodyActivity"/>


    </application>

</manifest>